 /*Palette
 #4ada3f rgb(74,218,63) - green header footer
 #575857 rgb(87,88,87) - durk gray base font and bg caru 70% and line 5 px
 #5e5e5e rgb(94,94,94) - durk gray event header 
 #7a7c7d rgb(122,124,125) - durk gray event font and page info
 #9b9b9b rgb(155,155,155) - durk gray event font and page info
 #5e5e5e rgb(94,94,94) - durk gray offer font
 #d6d6d6 rgb(214,214,214) - light gray
 #fefefe rgb(254,254,254) - nearly white
 */
 /*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*Spread styles------------------------------------------------------------*/
html{
	min-width:1000px;
	background:rgb(255,255,255);
}
body, html { 
	height:100%;
	font:100% 'robotoregular'; 
	color:rgb(87,88,87);
	padding: 0; 
	margin: 0;
}
a {
	color:rgb(87,88,87);
	text-decoration: none;
}
a:hover{
	color:rgb(200,200,200);
}
h1{
	font-size:46px;
	line-height:34px;
	text-transform:uppercase;
}
p{
	font-size:11px;
	line-height:14px;
	color:rgb(122,124,125);
	margin:0 0 5px 4px;
}
 /*Layout-----------------------------------*/
 body{
	width:1000px;
	margin:0 auto;
}
.wrapper{
	position:relative;
	overflow:hidden;
	min-height:100%;/*For fix footer*/
	height:auto !important;/*For fix footer*/
	height:100%;/*For fix footer*/
	margin:0 0 180px;/*For fix footer*/
}
.container{
	overflow:hidden;
/* 	padding:0 0 180px;/*For fix footer*/
 }
.content{
	position:relative;
	overflow:hidden;
	width:730px;
	float:right;
	margin:0 13px 0 0;
 }
.header-bg{
	font-family:'roboto_thregular';
	background:rgb(74,218,63);
	position:relative;
	padding:0 9px;
}
 .header-bg:after{
	content: " ";
	display:table;
	clear: both;
}

.footer{
	font-family:'robotoregular';
	width:966px;
	height:140px;
	position:relative;
	clear:both;
	overflow:hidden;
	background:rgb(74,218,63);
	padding:8px 12px 40px 22px;
	margin:-180px auto 0;
	bottom:0;
}
.footer-base a, 
.footer-tour a, .facebook a{
	font-size:12px;
	color:rgb(255,255,255);
}
/*Header---------------------------------------*/
/*Nav-city area---------------------------------------*/
.nav {
	position: relative;
	*zoom:1;
}
.nav:before,
.nav:after {
	content: " ";
	display:table;
}
.nav:after {
	clear: both;
}
.nav a {
	padding:0 15px 5px 15px;
	color:#fff;
	display:block;
	*zoom:1;
}
.nav a:hover{
	color:rgb(87,88,87);
	background: rgb(255,255,255);
	display:block;
}
.nav li {
	position: relative;
	float:left;
	margin:0 45px 0 0;
	z-index: 200;
}
.nav > li {
	z-index: 200;
}

.nav li a {
	display: block;
}
.nav li ul {
	position: absolute;
	left: -9999px;
	z-index: 100;
}
.nav li li a {
	display:block;
	color:rgb(87,88,87);
	background:rgb(74,218,63);
	border-bottom:1px solid rgb(255,255,255);
	position: relative;
	z-index:100;
}
.nav li li{
	display:block;
	min-width:100px;
	}
.nav > li.hover > ul {
	left: 0;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;

}
.plane:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:100%;
	width:40px;
	height:22px;
	background: url(../img/plane.png) 0 0 no-repeat;
	line-height:0;
}
/*Base area---------------------------------------*/
.base{
	position:absolute;
	top:0;
	right:0;
	margin:0 20px 0 0;
}
.base a{
	font-size:11px;
	line-height:21px;
}
.base li{
	float:left;
	margin:0 0 0 5px;
}
.header-bg .base  li  a {
	display: block;
	padding:2px 2px 4px;
	color:rgb(255,255,255);
	text-decoration: none;
}
	.header-bg .base  li  a:hover {
		background:rgb(255,255,255);
		color:rgb(87,88,87);
		text-decoration: none;
	}
/*logo area---------------------------------------*/
.logo-hr {
	position:relative;
	margin:13px 9px 18px;
	padding:0 0 9px;
	border-bottom:2px solid rgb(87,88,87);
 }
.logo-hr h1{
	font-size:35px;
	text-transform:uppercase;
	display:inline-block;
 }
.logo-hr a{
	color:rgb(87,88,87);
	font-family:'roboto_thregular';
}
/*side-bar---------------------------------------*/
.side-bar{
	width:231px;
	float:left;
	background:rgb(74,218,63);
	border:2px solid rgb(214,214,214);
	color:rgb(254,254,254);
	padding:2px 0 0;
	margin:31px 0 0 9px;
}
.side-bar .block-offer.last{
	margin:0 0 0 0;
}
.side-bar h3{
	font-size:17px;
	text-align:right;
	margin:0 10px 3px;
	font-family:'roboto_bkbold';
}
.side-bar .block-offer{
	font-size:12px;
	color:rgb(94,94,94);
	padding:6px 5px 2px;
	margin:0 0 5px;
	background:rgb(255,255,255);
}
.side-bar .block-offer h4{
	font-family:''roboto_bkbold'';
	line-height:14px;
	margin:0 0 17px;
}
.side-bar .block-offer ul{
	margin:0 0 18px;
}
.side-bar .buy-now{
	position:relative;
}		
.side-bar .buy-now a{
	display:block;
	overflow:hidden;
	padding:5px 5px 5px 10px;
	}		
	.side-bar .buy-now a:hover{
		background:rgb(155,155,155);
	}		
.side-bar .now-price{
	font:30px 'robotoregular';
	line-height:34px;
	float:left;
	color:rgb(255,255,255);
}		
.side-bar .buy-now .buy{
	font:24px 'roboto_medium';
	float:right;
	color:rgb(255,255,255);
	margin:5px 20px 0 0;
}		
.side-bar .now-price{
	font-size:30px;
}	
.side-bar .person{
	position:absolute;
	left:0;
	bottom:0;
	font:10px 'roboto_thregular';
	float:right;
	color:rgb(255,255,255);
	margin:0 0 0 20px;

}
/*Content---------------------------------------*/
.title-content{
	float:left;
	margin:0 0 5px;
}
.title-content h2{
	font-size:25px;
	line-height:25px;
	color:rgb(74,218,63);
}
.title-content h2 span{
	text-transform:uppercase;
}
/*guide area---------------------------------------*/
.guide{
	float:right;
	margin:4px 0 2px;
}
.guide .be-on {
	font-size:24px;
	line-height:24px;
	text-transform:uppercase;
	position:relative;
	bottom:4px;
}
.guide li{
	float:left;
	margin:0 0 0 10px;
}
.guide li a{
	font-size:12px;
}
	.guide li a:hover{
	color:rgb(74,218,63)	
	}
.content .shot{
	font-size:14px;
	color:rgb(155,155,155);
	margin:0 0 7px;
}
.banner{
	margin:0 0 13px;
	padding:0;
}
/*link-text---------------------------------------*/
.link-text{
	border-bottom:1px solid rgb(74,218,63);
	margin:18px 0 5px;
}
.link-text .block .cpp{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:3;
}

.link-text .block:hover{
	opacity:.7;
	text-decoration:underline;
}
.block{
	margin:0 0 21px;
	position:relative;
}
.block p{
	margin:0 10px 5px 0;
}
.text-iss p{
	margin:0 0 5px;
}
.link-text h4,
.event-text h4{
	font:14px 'roboto_bkbold';
	margin:0 0 10px 0;
}
.text-inf, .block{
	overflow:hidden;
}
.event-text .text-inf{
	width:210px;
}
.link-text img{
	float:left;
	margin:0 19px 0 0;
}
.event-text img{
	float:left;
	margin:0 10px 0 0;
}
.link-text .text-inf a{
	border-bottom:none;   
	padding:5px 0;
}
	.link-text .text-inf a:hover{
		text-decoration:underline;
	}
.event-text .block .cpp{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:3;
}

/*event-text---------------------------------------*/
.event-text .block{
	width:340px;
	float:left;
	padding:0 0 5px;
	margin:0 5px 40px 0;
}
.event-text .block:hover{
	opacity:.7;
	text-decoration:underline;
}
.event-text{
	overflow:hidden;
}
 .event-text .text-i a{
	border-bottom:none;
	text-decoration:none;
	color:rgb(87,88,87);
	padding:5px 0;
}
	.event-text .text-i a:hover{
		text-decoration:underline;
		color:rgb(94,94,94);
	}
/*Footer---------------------------------------*/
.footer-base, .footer-tour, .pay, .facebook{
	float:left;
}
.footer-base{
	margin:0 57px 0 0;
}
.footer-base li, .footer-tour li{
	line-height:17px;
	margin:0 3px 0 0;
}
.footer-base li a:hover, .footer-tour li a:hover{
	text-decoration:underline;
}
.pay{
	margin:0 146px 0 102px;
}
.visa-master{
	margin:8px 0 20px;
}
.visa-master a{
	display:block;
	width:127px;
	height:42px;
	background:url(../img/visa-master.jpg) no-repeat;
}
.visa-master span,
.norton span{
	visibility:hidden;
}
.norton a{
	display:block;
	width:125px;
	height:70px;
	background:url(../img/norton-sec.png) no-repeat;
	margin:0 0 0 2px;
}
.facebook{
	position:relative;
	margin:24px 0 0 0;
}
.facebook a{
	padding:0 0 0 12px;
}
.facebook a:hover{
	text-decoration:underline;
}
.facebook a:before {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	right:100%;
	width:31px;
	height:31px;
	background: url(../img/facebook.png) 0 0 no-repeat;
	line-height:0;
}