 /*Palette
 #4ada3f rgb(74,218,63) - green header footer
 #575857 rgb(87,88,87) - durk gray base font and bg caru 70% and line 5 px
 #5e5e5e rgb(94,94,94) - durk gray event header 
 #7a7c7d rgb(122,124,125) - durk gray event font and page info
 #9b9b9b rgb(155,155,155) - durk gray event font and page info
 #5f5f5f rgb(95,95,95) - durk gray offer font
 #d6d6d6 rgb(214,214,214) - light gray
 #fefefe rgb(254,254,254) - nearly white
 */
 /*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*Spread styles------------------------------------------------------------*/
html{
	min-width:1000px;
	background:rgb(255,255,255);
}
body, html { 
	height:100%;
	font:100% 'robotoregular'; 
	color:rgb(87,88,87);
	padding: 0; 
	margin: 0;
}
a {
	color:rgb(87,88,87);
	text-decoration: none;
}
 /*Layout-----------------------------------*/
 body{
	width:1000px;
	margin:0 auto;
}
.wrapper{
	position:relative;
	overflow:hidden;
	min-height:100%;/*For fix footer*/
	min-height:1000px;/*For paris picture fix position*/
	height:auto !important;/*For fix footer*/
	height:100%;
	margin:0 0 180px;/*For fix footer*/
}
.container{
	overflow:hidden;
	padding:0 0 180px;/*For fix footer*/
}
.content{
	position:relative;
	overflow:hidden;
	width:730px;
	float:right;
	margin:16px 11px 0 0;
}
 .header-bg{
	font-family:'roboto_thregular';
	background:rgb(74,218,63);
	position:relative;
	padding:0 9px;
}
.footer{
	font-family:'robotoregular';
	width:966px;
	height:140px;
	position:relative;
	clear:both;
	overflow:hidden;
	background:rgb(74,218,63);
	padding:8px 12px 40px 22px;
	margin:-180px auto 0;
	bottom:0;
}
.footer-base a, 
.footer-tour a, .facebook a{
	font-size:12px;
	color:rgb(255,255,255);
}
/*Header---------------------------------------*/
/*Nav-city area---------------------------------------*/
.nav {
	position: relative;
	*zoom:1;
}
.nav:before,
.nav:after {
	content: " ";
	display:table;
}
.nav:after {
	clear: both;
}
.nav a {
	padding:0 15px 5px 15px;
	color:#fff;
	display:block;
	*zoom:1;
}
.nav a:hover{
	color:rgb(87,88,87);
	background: rgb(255,255,255);
	display:block;
}
.nav li {
	position: relative;
	float:left;
	margin:0 45px 0 0;
	z-index: 200;
}
.nav > li {
	z-index: 200;
}

.nav li a {
	display: block;
}
.nav li ul {
	position: absolute;
	left: -9999px;
	z-index: 100;
}
.nav li li a {
	display:block;
	color:rgb(87,88,87);
	background:rgb(74,218,63);
	border-bottom:1px solid rgb(255,255,255);
	position: relative;
	z-index:100;
}
.nav li li{
	display:block;
	min-width:100px;
	}
.nav > li.hover > ul {
	left: 0;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;

}
.plane:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:100%;
	width:40px;
	height:22px;
	background: url(../img/plane.png) 0 0 no-repeat;
	line-height:0;
}
/*Base area---------------------------------------*/
.base{
	position:absolute;
	top:0;
	right:0;
	margin:0 20px 0 0;
}
.base a{
	font-size:11px;
	line-height:21px;
}
.base li{
	float:left;
	margin:0 0 0 5px;
}
.header-bg .base  li  a {
	display: block;
	padding:2px 2px 4px;
	color:rgb(255,255,255);
	text-decoration: none;
}
	.header-bg .base  li  a:hover {
		background:rgb(255,255,255);
		color:rgb(87,88,87);
		text-decoration: none;
	}
/*logo area---------------------------------------*/
.logo-hr-3 {
	position:relative;
	margin:15px 10px 10px;
	border-bottom:2px solid rgb(87,88,87);
	position:relative;
	overflow:hidden;
}
.logo-hr-3 h1{
	font-family:'roboto_thregular';
	font-size:35px;
	line-height:34px;
	text-transform:uppercase;
	display:inline-block;
	margin:0 0 6px;
}
.logo-hr-3 a{
	color:rgb(87,88,87);
}
/*Guide area---------------------------------------*/
.guide-3{
	float:right;
	margin:15px 0 0;
}
.guide-3 li{
	float:left;
	margin:0 0 0 6px;
	font-size:12px;
}
.guide-3 a:hover{
	color:rgb(200,200,200);
	}
.guide-3 li.be-on {
	font-size:24px;
	line-height:24px;
	text-transform:uppercase;
	position:relative;
	bottom:6px;
}
/*Content---------------------------------------*/
/*side-bar---------------------------------------*/
.another-bar{
	width:231px;
	float:left;
	color:rgb(254,254,254);
	padding:0;
	margin:5px 0 0 8px;
}
.another-bar h2{
	font-size:28px;
	color:rgb(74,218,63);
	text-transform:uppercase;
	margin:0 0 11px;
}
.another-bar li{
	font-family:'robotoregular';
	font-size:15px;
	line-height:18px;
	color:rgb(95,95,95);
}
.another-bar .block-offer-2{
	color:rgb(94,94,94);
	overflow:hidden;
	padding:7px 5px 10px;
	margin:0 0 10px;
}
.another-bar .block-offer-2 .side-offer a{
	display:block;
	overflow:hidden;
	padding:10px 10px 11px 3px;
	}
.another-bar .block-offer-2 .side-offer a:hover{
	background:rgb(233,233,233);
}
.another-bar .block-offer-2 .side-date{
	float:left;
	margin:0 8px 0 0;
}			
.another-bar .block-offer-2 .side-offer .side-price{
	font-family:'robotoregular';
	float:right;
	font-size:29px;
	line-height:30px;
	color:rgb(74,218,63);
	margin:0 0 0 7px;
}			
/*link-text---------------------------------------*/
.link-text-3{
	margin:0 0 5px;
}
.link-text-3 .blocks{
	position:relative;
	margin:0 0 21px;
}
.link-text-3 .blocks .cpp{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:3;
}
.link-text-3 .blocks:hover{
	opacity:.7;
	text-decoration:underline;
}
.link-text-3 .blocks p{
	font-size:12px;
	line-height:18px;
	color:rgb(122,124,125);
	margin:0 0 5px 4px;
	padding:0 27px 0 0;
}
.link-text-3 h4{
	font:14px 'roboto_bkbold';
	line-height:15px;
	margin:-3px 0 21px 0;
}
.link-text-3 .text-in, .link-text-3 .blocks{
	overflow:hidden;
}
.blocks img{
	float:left;
	margin:0 25px 0 0;
}
.link-text-3 .text-in a{
	border-bottom:none;   
	display:block;
}
	.link-text-3 .text-in a:hover{
		text-decoration:underline;
		color:rgb(94,94,94);
	}	
/*Footer---------------------------------------*/
.footer-base, .footer-tour, .pay, .facebook{
	float:left;
}
.footer-base{
	margin:0 57px 0 0;
}
.footer-base li, .footer-tour li{
	line-height:17px;
	margin:0 3px 0 0;
}
.footer-base li a:hover, .footer-tour li a:hover{
	text-decoration:underline;
}
.pay{
	margin:0 146px 0 102px;
}
.visa-master{
	margin:8px 0 20px;
}
.visa-master a{
	display:block;
	width:127px;
	height:42px;
	background:url(../img/visa-master.jpg) no-repeat;
}
.visa-master span,
.norton span{
	visibility:hidden;
}
.norton a{
	display:block;
	width:125px;
	height:70px;
	background:url(../img/norton-sec.png) no-repeat;
	margin:0 0 0 2px;
}
.facebook{
	position:relative;
	margin:24px 0 0 0;
}
.facebook a{
	padding:0 0 0 12px;
}
.facebook a:hover{
	text-decoration:underline;
}
.facebook a:before {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	right:100%;
	width:31px;
	height:31px;
	background: url(../img/facebook.png) 0 0 no-repeat;
	line-height:0;
}
.bg-i{
	position:absolute;
	bottom:0;
	z-index:-1;
}