li{
	list-style:none;
	padding:0;
	margin:0;
}
.caru{
	font-family:'robotoregular';
	overflow:hidden;
	position:relative;
	width:480px;
	margin:10px;
	color:white;
}
.caru h2{
}
.caru .date{
	display:inline;
	float:left;
	text-align:left;
	font-variant:small-caps;
	padding:0;
	margin:0 20px 0 0;
}
.caru-offer{
	position:absolute;
	overflow:hidden;
	bottom:0;
	left:0;
	right:0;
	display:block;
	margin:0;
}
.caru-scope{
	float:right;
	overflow:hidden;
	width:480px;
}
.small-caru-picture{
}
.small-caru-picture h2{
}
.small-caru-picture .date{
}
.small-caru-picture .caru-price{
	}
.start{
	margin:0 20px 20px 0;
}
.follow{
	margin:0 20px 0 0;
}
#cyclePager{
	overflow:hidden;
	float:right;
	margin:0 200px 0 0;
}
#cyclePager a{
		background:url(../img/pager-gal.png) 0 0 no-repeat;
		display: block;
		float: left;
		height: 18px;
		margin-left:5px;
		text-indent:9999px;
		width: 18px;
	}
	#cyclePager a:hover,
	#cyclePager a.activeSlide{background-position: -17px 0;}
	
	/**/
.big-caru-picture{
	position:relative;
	float:left;
	overflow:hidden;
	color:rgb(255,255,255);
	width:480px;
	height:354px;
	margin:40px 10px 0 0;
}
.big-caru-picture .caru-offer{
	z-index:2;
	background:rgba(80,107,127, .7);
}
.big-caru-picture h2{
	position:absolute;
	right:0;
	left:0;
	top:0;
	font-size:35px;
	text-transform:uppercase;
	padding:3px 10px 3px;
	margin:0;
	background:rgba(80,107,127, .7);
	text-align:right;
	z-index:2;
}
.big-caru-picture .caru-price{
	font-family:'roboto_bkbold';
	font-size:56px;
	float:right;
	margin:0 10px 0;
}

.big-caru-picture .date{
	font-size:32px;
	display:inline;
	float:left;
	text-align:left;
	font-variant:small-caps;
	padding:0;
	margin:0 0 0 10px;
}
.big-caru-picture a{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:3;
}
.big-caru-picture:hover h2{
	background:rgb(80,107,127);
}
.big-caru-picture:hover .caru-offer{
	background:rgb(80,107,127);
}
	/**/
.small-caru-picture{
	position:relative;
	float:left;
	overflow:hidden;
	background:url(../img/lafayette-caru.jpg) 0 0 no-repeat;
	width:230px;
	height:167px;
}
.small-caru-picture .caru-offer{
	z-index:2;
	background:rgba(80,107,127, .7);
}
.small-caru-picture h2{
	position:absolute;
	top:0;
	right:0;
	left:0;
	background:rgba(80,107,127, .7);
	text-transform:uppercase;
	text-align:right;
	padding:3px 10px 3px;
	margin:0;
	z-index:2;
}
.small-caru-picture .caru-price{
	font-family:'roboto_bkbold';
	font-size:32px;
	float:right;
	margin:0 10px 0;
}

.small-caru-picture .date{
	font-size:12px;
	margin:7px 7px 0 0; 
	display:inline;
	float:left;
	text-align:left;
	font-variant:small-caps;
	padding:0;
	margin:5px 10px 0 10px;
	}
.small-caru-picture a{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:3;
}
.small-caru-picture:hover h2{
	background:rgb(80,107,127);
}
.small-caru-picture:hover .caru-offer{
	background:rgb(80,107,127);
}
/**/