li{
	list-style:none;
	padding:0;
	margin:0;
}
.caru{
	font-family:'roboto_thregular';
	overflow:hidden;
	position:relative;
	width:480px;
	margin:10px;
	color:white;
}
.caru h2{
	background:rgba(80,107,127, .7);
	text-align:right;
	text-transform:uppercase;
	padding:3px 10px 3px;
	margin:0;
}
.caru .date{
	display:inline;
	float:left;
	text-align:left;
	font-variant:small-caps;
	padding:0;
	margin:0 20px 0 0;
}
.caru a{
	overflow:hidden;
	display:block;
	background:rgba(80,107,127, .7);
	font-variant:small-capps;
	color:rgb(255,255,255);
	text-decoration:none;
	padding:0 10px 4px;
}
	.caru a:hover{
		background:rgb(80,107,127);
		font-variant:small-capps;
		color:rgb(255,255,255, .7);
		text-decoration:none;
	}
.caru-offer{
	position:absolute;
	overflow:hidden;
	bottom:0;
	left:0;
	right:0;
	display:block;
	margin:0;
}
.big-caru-picture{
	position:relative;
	float:left;
	overflow:hidden;
	color:rgb(255,255,255);
	background:url(../img/rodos-caru.jpg) 0 0 no-repeat;
	width:480px;
	height:354px;
	margin:40px 0 0 0;
	
}
.caru-scope{
	float:right;
	overflow:hidden;
	width:480px;
}
.small-caru-picture{
	position:relative;
	float:left;
	overflow:hidden;
	background:url(../img/lafayette-caru.jpg) 0 0 no-repeat;
	width:230px;
	height:167px;
}
/* .big-caru-picture h2{
	background:rgba(80,107,127, .7);
}
 */
.big-caru-picture .tour{
	font-size:35px;
	text-transform:uppercase;
	padding:3px 10px 3px;
	margin:0;
}
.big-caru-picture .date{
	font-size:32px;
	display:inline;
	float:left;
	text-align:left;
	font-variant:small-caps;
	padding:0;
	margin:0 20px 0 0;
}
.big-caru-picture a{
	font-size:32px;
	overflow:hidden;
	display:block;
	background:rgba(80,107,127, .7);
	font-variant:small-capps;
	color:rgb(255,255,255);
	text-decoration:none;
	padding:0 10px 4px;
}
.big-caru-picture a:hover{
		background:rgb(80,107,127);
		font-variant:small-capps;
		color:rgb(255,255,255, .7);
		text-decoration:none;
}
.big-caru-picture .caru-price{
	font-family:'robotoregular';
	font-size:56px;
}
.small-caru-picture h2{
	font-size:22px;
}
.small-caru-picture .date{
	font-size:12px;
	margin:7px 7px 0 0; 
}
.small-caru-picture a{
	font-size:22px;
}
.small-caru-picture .caru-price{
	font-family:'robotoregular';
	font-size:32px;
	float:left;
	}
.start{
	margin:0 20px 20px 0;
}
.follow{
	margin:0 20px 0 0;
}
#cyclePager{
	overflow:hidden;
	float:right;
	margin:0 200px 0 0;
}
#cyclePager a{
		background:url(../img/pager-gal.png) 0 0 no-repeat;
		display: block;
		float: left;
		height: 18px;
		margin-left:5px;
		text-indent:9999px;
		width: 18px;
	}
	#cyclePager a:hover,
	#cyclePager a.activeSlide{background-position: -17px 0;}