 /*Palette
 #4ada3f rgb(74,218,63) - green header footer
 #575857 rgb(87,88,87) - durk gray base font and bg caru 70% and line 5 px
 #5e5e5e rgb(94,94,94) - durk gray event header 
 #7a7c7d rgb(122,124,125) - durk gray event font and page info
 #aeabab rgb(174,171,171) - light gray for fancy
 */
 /*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*Spread styles------------------------------------------------------------*/
html{
	min-width:1000px;
	background:rgb(255,255,255);
}
body, html { 
	height:100%;
	font:100% 'robotoregular'; 
    color:rgb(87,88,87);
	padding: 0; 
	margin: 0;
}
a {
	color:rgb(87,88,87);
	text-decoration: none;
}
h1{
	font-size:46px;
	line-height:34px;
	text-transform:uppercase;
}
 /*Layout-----------------------------------*/
 body{
	width:1000px;
	margin:0 auto;
}
.wrapper{
	position:relative;
	overflow:hidden;
	min-height:100%;/*For fix footer*/
	height:auto !important;/*For fix footer*/
	height:100%;/*For fix footer*/
	margin:0 0 180px;/*For fix footer*/
}
.container{
	overflow:hidden;
/* 	padding:0 0 180px;/*For fix footer*/
 }
 .header-bg{
	font-family:'roboto_medium';
	background:rgb(74,218,63);
	position:relative;
	padding:0 9px;
}
.line, .events{
	clear:both;
	position:relative;
	overflow:hidden;
	padding:0 11px 0 9px;
}
.footer{
	font:100% 'roboto_medium'; 
	width:966px;
	height:140px;
	position:relative;
	clear:both;
	overflow:hidden;
	background:rgb(74,218,63);
	padding:8px 12px 40px 22px;
	margin:-180px auto 0;
	bottom:0;
}
.footer-base a, 
.footer-tour a, .facebook a{
	font-size:12px;
	color:rgb(255,255,255);
}
/*Header---------------------------------------*/
/*Nav-city area---------------------------------------*/
.nav {
	position: relative;
	*zoom:1;
}
.nav:before,
.nav:after {
	content: " ";
	display:table;
}
.nav:after {
	clear: both;
}
.nav a {
	padding:0 15px 5px 15px;
	color:#fff;
	display:block;
	*zoom:1;
}
.nav a:hover{
	color:rgb(87,88,87);
	background: rgb(255,255,255);
	display:block;
}
.nav li {
	position: relative;
	float:left;
	margin:0 28px 0 0;
	z-index: 200;
}
.nav > li {
	z-index: 200;
}

.nav li a {
	display: block;
}
.nav li ul {
	position: absolute;
	left: -9999px;
	z-index: 100;
}
.nav li li a {
	display:block;
	color:rgb(87,88,87);
	background:rgb(74,218,63);
	border-bottom:1px solid rgb(255,255,255);
	position: relative;
	z-index:100;
}
.nav li li{
	display:block;
	min-width:100px;
	}
.nav > li.hover > ul {
	left: 0;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;

}
.plane:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:100%;
	width:25px;
	height:22px;
	background: url(../img/plane.png) 0 0 no-repeat;
	line-height:0;
}
/*Base area---------------------------------------*/
.base{
	position:absolute;
	top:0;
	right:0;
	margin:0 20px 0 0;
}
.base a{
	font-size:11px;
	line-height:21px;
}
.base li{
	float:left;
	margin:0 0 0 5px;
}
.header-bg .base  li  a {
	display: block;
	padding:2px 2px 4px;
	color:rgb(255,255,255);
	text-decoration: none;
}
	.header-bg .base  li  a:hover {
		background:rgb(255,255,255);
		color:rgb(87,88,87);
		text-decoration: none;
	}
/*logo area---------------------------------------*/
.logo{
	position:relative;
	font-size:45px;
	text-transform:uppercase;
	display:inline-block;
	margin:52px 0 0;
 }
 .logo a{
	color:rgb(87,88,87);
	font-family:'roboto_thregular';
}
.sec{
	float:right;
	width:330px;
	text-align:right;
	margin:20px 44px 0 0;
}
.sec h1{
	font:45px !important;
	line-height:34px;
}
.sec span{
	font-family:'roboto_thregular';
	margin-right:-44px;
}
.logo-hr {
	position:relative;
	margin:13px 9px 18px;
	padding:0 0 9px;
	border-bottom:2px solid rgb(87,88,87);
 }
.logo-hr h1{
	font-size:35px;
	text-transform:uppercase;
	display:inline-block;
 }
.logo-hr a{
	color:rgb(87,88,87);
	font-family:'roboto_thregular';
}

/*Mounth navigation---------------------------------------*/
.mounth{
	margin:20px 0 0 10px;
	padding:7px 0 0 0;
	
}
.mounth li{
	display:inline;
		text-align:justify;

}
.mounth a{
	font-size:19px;
	font-family:'robotoregular';
	color:rgb(87,88,87);
	text-transform:uppercase;
	padding:5px 4px 5px 4px;

}
	ul.mounth a:hover{
		font-family:'robotoregular';
		color:rgb(74,218,63);
		border-top:1px solid rgb(74,218,63);
	}
/*Content---------------------------------------*/
.events .subtitle,
.page-info .subtitle {
  margin: 0 0 2em 0;
}
.page-info .fancy span,
.events .fancy span {
	font-size:17px;
	line-height:22px;
	text-transform:uppercase;
	color:rgb(74,218,63);
	display: inline-block;
	position: relative;  
}
	.page-info .fancy span:after,
	.events .fancy span:after{
		content:"";
		position:absolute;
		top:8px;
		width:890px;
		height:5px;
		left:100%;
		background: url(../img/line.png) center center repeat-x;
		margin-left:15px;
	}
 /*slider---------------------------------------*/
#slider{
	position:relative;
	overflow:hidden;
	margin:30px 0 0 0;
}
#cycle{
	margin:0 0 10px 0;
}
 /*event---------------------------------------*/
.event-text h4{
	font:bold 13px Arial, sans-serif;
	margin:0 0 15px 0;
}
.event-text{
	font:10px/11px Arial, sans-serif;
}
.event-text .text-i, .event-text .box{
	overflow:hidden;
}
.event-text .box img{
	float:left;
	margin:0 13px 0 0;
}
.event-text .box{
	width:311px;
	float:left;
	padding:0 0 23px;
	margin:0 15px 0 0;
}
.event-text .box:hover{
	opacity:.7;
	text-decoration:underline;
}
.event-text .text-i a{
	border-bottom:none;
	text-decoration:none;
	color:rgb(87,88,87);
	padding:5px 0;
}
 /*Page-info---------------------------------------*/
.events .page-info{
	clear:both;
 }
.events .page-info p{
	clear:both;
	color:rgb(122,124,125);
	font-size:12px;
	line-height:14px;
	text-transform:uppercase;
	margin:0 0 20px;
 }
/*Footer---------------------------------------*/
.footer-base, .footer-tour, .pay, .facebook{
	float:left;
}
.footer-base{
	margin:0 57px 0 0;
}
.footer-base li, .footer-tour li{
	line-height:17px;
	margin:0 3px 0 0;
}
.footer-base li a:hover, .footer-tour li a:hover{
	text-decoration:underline;
}
.pay{
	margin:0 146px 0 102px;
}
.visa-master{
	margin:8px 0 20px;
}
.visa-master a{
	display:block;
	width:127px;
	height:42px;
	background:url(../img/visa-master.jpg) no-repeat;
}
.visa-master span,
.norton span{
	visibility:hidden;
}
.norton a{
	display:block;
	width:125px;
	height:70px;
	background:url(../img/norton-sec.png) no-repeat;
	margin:0 0 0 2px;
}
.facebook{
	position:relative;
	margin:24px 0 0 0;
}
.facebook a{
	padding:0 0 0 12px;
}
.facebook a:hover{
	text-decoration:underline;
}
.facebook a:before {
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	right:100%;
	width:31px;
	height:31px;
	background: url(../img/facebook.png) 0 0 no-repeat;
	line-height:0;
}