@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);

body {
  font-family: 'Cinzel Decorative', cursive;
  background: url(http://s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
}
article {
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto 50px;
}

.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
}
.fancy span {
	font-size:17px;
	text-transform:uppercase;
	color:rgb(74,218,63);
	display: inline-block;
	position: relative;  
}
	.fancy span:after{
		content:"";
		position:absolute;
		width:600px;
		height:5px;
		left:100%;
		background: url(../img/line.png) right center repeat-x;
		line-height:0;
		margin-left:15px;
	}

/* .fancy span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 2px solid rgb(174,171,171);
	box-shadow:2px 2px 2px rgba(0,0,0,0.3);
	width: 600px;
	left: 100%;
	margin-left: 15px;
}
 */