 /*Palette
 #4ada3f rgb(74,218,63) - green header footer
 #575857 rgb(87,88,87) - durk gray base font and bg caru 70% and line 5 px
 #5e5e5e rgb(94,94,94) - durk gray event header 
 #7a7c7d rgb(122,124,125) - durk gray event font and page info
 #aeabab rgb(174,171,171) - light gray for fancy
 */
 /*reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*Spread styles------------------------------------------------------------*/
html{
	min-width:1000px;
	background:rgb(255,255,255);
}
body, html { 
	height:100%;
	font:100% 'robotoregular'; 
    color:rgb(87,88,87);
	padding: 0; 
	margin: 0;
}
a {
	color:rgb(87,88,87);
	text-decoration: none;
}
a:hover {
	color: rgb(200,200,200);
}
h1{
	font-size:46px;
	line-height:34px;
	text-transform:uppercase;
}
 /*Layout-----------------------------------*/
 body{
	width:52%;
	min-width:775px;
	margin:0 auto;
}
.wrapper{
	position:relative;
	overflow:hidden;
	min-height:100%;/*For fix footer*/
	height:auto !important;/*For fix footer*/
	height:100%;/*For fix footer*/
	margin:0 0 180px;/*For fix footer*/
}
.container{
	overflow:hidden;
/* 	padding:0 0 180px;/*For fix footer*/
 }
 .header-bg{
	font-family:'roboto_thregular';
	background:rgb(74,218,63);
	position:relative;
	padding:0 9px;
}
 .header-bg:after{
	content: " ";
	display:table;
	clear: both;
}

/*Header---------------------------------------*/



/*Nav-city area---------------------------------------*/
.nav {
	position: relative;
}
.nav:before,
.nav:after {
	content: " ";
	display:table;
}
.nav:after {
	clear: both;
}
.nav a {
	padding:0 15px 5px 15px;
	color:#fff;
	display:block;
}
.nav a:hover{
	color:rgb(87,88,87);
	background: rgb(255,255,255);
	display:block;
}
.nav li {
	position: relative;
	float:left;
	margin:0 28px 0 0;
	z-index: 200;
}
.nav > li {
	z-index: 200;
}

.nav li a {
	display: block;
}
.nav li ul {
	position: absolute;
	left: -9999px;
	z-index: 100;
}
.nav li li a {
	display:block;
	color:rgb(87,88,87);
	background:rgb(240,240,240);
	border-bottom:1px solid rgb(74,218,63);
	position: relative;
	z-index:100;
}
.nav li li{
	display:block;
	min-width:100px;
	}
.nav > li.hover > ul {
	left: 0;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;

}
.plane:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:100%;
	width:25px;
	height:23px;
	background: url(plane_sprite1.png) 0 0 no-repeat;
	line-height:0;
}

/*Base area---------------------------------------*/
.base{
	position:absolute;
	top:0;
	right:0;
	margin:0 20px 0 0;
}
.base a{
	font-size:11px;
	line-height:21px;
}
.base li{
	float:left;
	margin:0 0 0 5px;
}
.header-bg .base  li  a {
	display: block;
	padding:2px 2px;
	color:rgb(255,255,255);
	text-decoration: none;
}
	.header-bg .base  li  a:hover {
		background:rgb(255,255,255);
		color:rgb(87,88,87);
		text-decoration: none;
	}
	/*logo area---------------------------------------*/
.logo{
	position:relative;
	font-size:45px;
	text-transform:uppercase;
	display:inline-block;
	margin:52px 0 0;
 }
 .logo a{
	color:rgb(87,88,87);
	font-family:'roboto_thregular';
}
.sec{
	float:right;
	width:330px;
	text-align:right;
	margin:20px 44px 0 0;
}
.sec h1{
	font:45px !important;
	line-height:34px;
}
.sec span{
	font-family:'roboto_thregular';
	margin-right:-44px;
}
/*Mounth navigation---------------------------------------*/
.mounth{
	margin:20px 0 0 0;
	padding:7px 0 0 0;
	overflow:hidden;
}
.mounth li{
	float:left;
	padding:0 5px 0 0;
}
.mounth a{
	font-size:19px;
	font-family:'roboto_thregular';
	color:rgb(87,88,87);
	text-transform:uppercase;
	padding:3px;
}
	ul.mounth a:hover{
		color:rgb(140,140,140);
		border-top:1px solid rgb(140,140,140);
	}

